name: Deploy Infrastructure (Terraform)

on:
push:
branches: [ "main" ]
paths:
- "terraform/**"
- ".github/workflows/deploy.yml"

permissions:
contents: read

jobs:
terraform:
runs-on: ubuntu-latest

env:
AWS_REGION: eu-west-1

steps:
- name: Checkout repo
uses: actions/checkout@v4

- name: Setup Terraform
uses: hashicorp/setup-terraform@v3
with:
terraform_version: 1.7.5

- name: Configure AWS Credentials
uses: aws-actions/configure-aws-credentials@v4
with:
aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
aws-region: ${{ env.AWS_REGION }}

- name: Terraform Init
working-directory: terraform
run: terraform init

- name: Terraform Validate
working-directory: terraform
run: terraform validate

- name: Terraform Plan
working-directory: terraform
run: terraform plan -out=tfplan

- name: Terraform Apply
working-directory: terraform
run: terraform apply -auto-approve tfplan
